
<div class="row">
  <div class="col-md-12">
    <div class="card ">      
      <div class="card-body ">
       <div class="row">
        <div class="col-md-1">
          <div class="user-area">
            <p class="total">Total {{liveUsers?.length}}</p>
            <ul>
              <li *ngFor="let user of liveUsers; index as i">
                {{i+1}}. {{ user.userName}}
                 <hr>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md-11">
          <agm-map
        [latitude]='lat' 
       [longitude]='long'
       [zoom]='zoom'
       [styles]="style"
        >
        <agm-marker 
            *ngFor="let user of liveUsers ; index as i "

            [latitude]="user.location[user.location.length - 1].latitude" 

              [longitude]="user.location[user.location.length - 1].longitude"
              [iconUrl]="iconUrl"
              
              
              >    

                  <agm-info-window #infoWindow>
                    <!-- <img class="logo" src="assets/img/angular2-logo.png" alt="" srcset=""> -->
                      <ul>
                          <li>Name : {{ user.userName }}</li>
                          <li>
                            Mobile Number : {{user.userMobile}} 
                             
                          </li>
                          <li>Last Time Update  {{user.location[user.location.length - 1].time}}</li>
                          <li>Time started Sharing {{user.timestamp}}</li>
                      </ul>                 
                      

                </agm-info-window>             

        </agm-marker>
      </agm-map>
        </div>
       </div>        
        
      </div>
    </div>
  </div>
</div>
