<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-user text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Users</p>
              <p class="card-title">{{noOfUsers}}
                <p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Groups</p>
              <p class="card-title">{{noOfGroups}}
                <p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <!-- <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-commenting"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Messages Send</p>
              <p class="card-title">23
                <p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div> -->
  
</div>
<div class="row">
  <div class="col-md-12">
    <app-users-list (usersEvent)="usersEventHander($event)"></app-users-list>
  </div>
</div>
<div class="row">  
  <div class="col-md-12">
    <app-groups-list (groupsEvent)="groupsEventHander($event)"></app-groups-list>
  </div>
</div>
